<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:c="http://www.springframework.org/schema/c"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--<bean id="compactDisc" class="org.sxuns.spring.capter2.xml.soundsystem.SgtPeppers"/>-->
    <!--<bean id="cdPlayer" class="org.sxuns.spring.capter2.xml.soundsystem.CDPlayer">-->
        <!--<constructor-arg ref="compactDisc"/>-->
    <!--</bean>-->
    <!--c标签-->
    <bean id="cdPlayer" class="org.sxuns.spring.capter2.xml.soundsystem.CDPlayer"
          c:cd-ref="compactDisc"/>
    <!--<bean id="compactDisc" class="org.sxuns.spring.capter2.xml.soundsystem.BlankDisc"-->
          <!--c:artist="谢春花" c:title="童话镇"/>-->
    <bean id="compactDisc" class="org.sxuns.spring.capter2.xml.soundsystem.BlankDisc">
        <constructor-arg name="artist" value="贝多芬"/>
        <constructor-arg index="0" value="月光曲"/>
    </bean>
</beans>